<div class="container-fluid">
  <div class="tabs-container">
    <button routerLink="general" routerLinkActive="active" class="tab-button">
      <span class="material-symbols-outlined">inventory_2</span> General
    </button>
    <button routerLink="entradas" routerLinkActive="active" class="tab-button">
      <span class="material-symbols-outlined">login</span> Entradas
    </button>
    <button routerLink="salidas-traspasos" routerLinkActive="active" class="tab-button">
      <span class="material-symbols-outlined">logout</span> Salidas/traspasos
    </button>
    <button class="tab-button">
      <span class="material-symbols-outlined">fact_check</span> Validación de inventario
    </button>
    <button class="tab-button">
      <span class="material-symbols-outlined">edit</span> Ajuste de inventario
    </button>
    <button class="tab-button">
      <span class="material-symbols-outlined">checklist</span> Inventario aleatorio
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
