<div class="contenido">
    <nav>
        <img src="logo.png" alt="">
        <ul>
            <li><span class="material-symbols-outlined">home</span><h3>Home</h3></li>
            <li><span class="material-symbols-outlined">monitoring</span><h3>Dashboard</h3></li>
            <li><span class="material-symbols-outlined">person</span><h3>Usuarios</h3></li>
            <li><span class="material-symbols-outlined">security</span><h3>Roles y permisos</h3></li>
            <li><span class="material-symbols-outlined">store</span><h3>Proveedores</h3></li>
            <li><span class="material-symbols-outlined">location_on</span><h3>Sucursales</h3></li>
            <li><span class="material-symbols-outlined">warehouse</span><h3>Almacenes</h3></li>
            <li><span class="material-symbols-outlined">category</span><h3>Categorías</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Productos</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Servicios</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Paquetes</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Descuentos</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Inventario</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Pagos</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Ordenes de compra</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Facturación</h3></li>
            <li><span class="material-symbols-outlined">inventory</span><h3>Reportes</h3></li>
        </ul>
    </nav>
</div>