@use '../../../colores.scss' as *;

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.logo {
    width: 70%;
    margin-bottom: 2rem;
    pointer-events: none;
}

.formulario-login {
    align-items: center;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 35vi !important;
    max-width: 800px !important;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.contenedorform {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.contenedorInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;

    label {
        font-size: 1.2rem;
        font-weight: 100;
    }
}

.form-group input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
}

.opciones {
    padding: 0;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

    span {
        color: $link;
        text-decoration: underline;
        cursor: pointer;
    }
  
    .rememberme {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      label {
        font-size: 1rem;
      }
  
      .checkbox-container {
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
  
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
  
        .checkmark {
          position: relative;
          top: 0;
          left: 0;
          height: 1em;
          width: 1em;
          background: #6060629b;
          border-radius: 3px;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.05);
        }
  
        input:checked ~ .checkmark {
          background-image: linear-gradient(#4c2cca, #4c2cca);
        }
  
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
  
        input:checked ~ .checkmark:after {
          display: block;
        }
  
        .checkmark:after {
          left: 0.28em;
          top: 0.15em;
          width: 0.25em;
          height: 0.5em;
          border: solid white;
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg);
        }
      }
    }
  }

.boton-login {
    background-color: $color-principal;
    width: 100%;
    padding: .8rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
