.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
    margin: 0;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.cuadro {
    z-index: 10;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.10);
  padding: 3.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.13);
  }

  .material-symbols-outlined {
    font-size: 3rem;
    color: #1db6b4;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #38353e;
    font-weight: 500;
    text-align: center;
  }
}
