$color-principal: #2AB9AF;
$link: #2c98ca;
$icono: #1c1b1f;
$color-edit: #9ca3af;
$color-delete: #FF4DAF;
$boton: #8b5cf6;
$texto-secundario: #5925d1;
$boton-fondo: #856cff29;
$boton-fondo-hover: #856cff5d;
$boton-secundario: #2ab9af20;
$boton-secundario-hover: #2ab9af50;